# Node modules
node_modules/

# Logs
logs/
*.log
*.txt

# Database
storage/databases/*.sqlite
!storage/databases/.gitkeep

# Auth tokens and credentials
storage/auth/**/*.json
!storage/auth/credentials.example.json
!storage/auth/tokens/token.example.json

# Downloads
storage/downloads/**/*.pdf
!storage/downloads/.gitkeep

# Build output
dist/
