# Node modules
node_modules/

# Logs
logs/
*.log
*.txt

# Database
storage/databases/*.sqlite

# Auth tokens and credentials
storage/auth/**/*.json
!storage/auth/credentials.example.json
!storage/auth/tokens/token.example.json

# Downloads
storage/downloads/

# Environment variables
.env

# Build output
dist/
